/* navbar style */

.nav-bg {
    background-color: #ece7e7;
}


/* section 1 start here */

.slide-img-sizing img {
    width: 410px;
    height: 380px;
}

.slide-bg {
    background-color: #FCEAE8;
}


/* section 2 start here */


/* section 3 start here */

.card-shadow {
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}


/* section 4 starts here */

.subscribe-size {
    height: 240px;
}

.subscribe-bg {
    background-color: #FCEAE8;
}