/* navbar style */

.nav-bg {
    background-color: #ece7e7;
}


/* section 1 start here */

.slide-img-sizing img {
    width: 410px;
    height: 380px;
}

.slide-bg {
    background-color: #FCEAE8;
}


/* section 2 start here */